@import '../../styles/variables.scss';

.signupForm {
  grid-column: 2 / -2;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 0;
}

.headlineBlock {
  color: $white;
  margin-bottom: 4rem;
}
.headlineBlock p {
  font-size: 1.8rem;
}

.inputBlock {
  margin-bottom: 3rem;
}

.buttonBlock button:last-of-type {
  margin-left: 3rem;
}

.login {
  color: $white;
  font-size: 1.8rem;
  margin-top: 5rem;
}

.error {
  color: $danger;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin-top: -2rem;
  margin-bottom: 3rem;
}