@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

a.ghost, a.primary, a.secondary, a.confirm, a.danger {
  border-radius: 4px;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-size: 2.1rem;
  padding: 1rem 2.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: transparent;
  @include respond-to('mobile') {
    font-size: 1.6rem;
    padding: 1rem 1.6rem;
  }
}

.primary {
  background: var(--color-primary);
}
.primary:hover,
.primary:focus {
  background: var(--color-secondary);
  text-decoration-color: var(--color-white);
}

.secondary {
  background: var(--color-secondary);
}
.secondary:hover,
.secondary:focus {
  background: var(--color-primary);
  text-decoration-color: var(--color-white);
}

.confirm {
  background: var(--color-confirm);
}
.confirm:hover,
.confirm:focus {
  background: var(--color-long);
  color: var(--color-background);
  text-decoration-color: var(--color-background);
}

.danger {
  background: var(--color-danger);
}
.danger:hover,
.danger:focus {
  background: var(--color-race);
  text-decoration-color: var(--color-white);
}

.text {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  padding: 0 !important;
  margin: 0 !important;
  display: inline;
  text-decoration-color: var(--color-white);
  font-size: inherit !important;
  font-family: inherit !important;
}
.text:hover,
.text:focus {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

.ghost {
  background: transparent;
  border: 1px solid var(--color-white) !important;
}
.ghost:hover,
.ghost:focus {
  background: rgba(255, 255, 255, 0.1);
  text-decoration-color: var(--color-white);
}