@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.profileSection {
  grid-column: 2 / -2;
  color: $white;
  padding: 4rem 0;
}

.profileSection h2 {
  border-bottom: 2px solid $primary;
  margin-bottom: 4rem;
}

.profileSection p {
  font-size: 2.2rem;
  line-height: 1.6;
  letter-spacing: -0.05rem;
  margin-bottom: 2.6rem;
}