@import '../../styles/variables.scss';

.modalInner {
  border: 1px solid $white;
  border-radius: 4px;
  background-color: $background;
  color: $white;
  padding: 2rem;
}
.modalInner p {
  margin-bottom: 3rem;
}

.modalInner button:last-of-type {
  margin-left: 2rem;
}