/* Global Typography styles
========================================================================== */

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  src: local('Roboto Condensed Regular'), local('Roboto-Condensed-Regular'),
    url('../assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed Italic';
  font-style: italic;
  font-display: swap;
  src: local('Roboto Condensed Italic'), local('Roboto-Condensed-Italic'),
    url('../assets/fonts/RobotoCondensed-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  src: local('Roboto Slab'), local('Roboto-slab'),
    url('../assets/fonts/RobotoSlab-VariableFont.ttf') format('truetype');
}

h1, h2, h3, h4, h5, button {
  font-family: $font-heading;
}

p, label, input, h6 {
  font-family: $font-condensed;
}

a {
  color: $primary;
  transition: background 0.3s ease, color 0.3s ease, text-decoration-color 0.3s ease;
}