/* Global Typography styles
========================================================================== */

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  src: local('Roboto Condensed Regular'), local('Roboto-Condensed-Regular'),
    url('../assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed Italic';
  font-style: italic;
  font-display: swap;
  src: local('Roboto Condensed Italic'), local('Roboto-Condensed-Italic'),
    url('../assets/fonts/RobotoCondensed-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  src: local('Roboto Slab'), local('Roboto-slab'),
    url('../assets/fonts/RobotoSlab-VariableFont.ttf') format('truetype');
}

.test {
  color: $white;
  grid-column: 2 / -2;
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5 {
  font-family: $font-heading;
}

p, label, input {
  font-family: $font-condensed;
}

a {
  color: $hill;
}