/* Global variables
========================================================================== */

$white: #ffffff;
$background: #1F2932;

$easy: #67E4AA;
$recovery: #829FD6;
$long: #6C50D8;
$tempo: #BE3BCE;
$race: #C0268B;
$interval: #F3946E;
$hill: #F3946E;

$font-condensed: 'Roboto Condensed';
$font-italic: 'Roboto Condensed Italic';
$font-heading: 'Roboto Slab';