/* Global variables
========================================================================== */

:root {
  --color-white: #ffffff;
  --color-background: #1F2932;
  --color-background-dark: #171F26;
  --color-primary: #C0268B;
  --color-secondary: #6C50D8;
  --color-link-primary: #e179bc;
  
  --color-confirm: #50C376;
  --color-danger: #EE6461;
  --color-default: #4F6970;
  --color-easy: #67E4AA;
  --color-recovery: #829FD6;
  --color-long: #6C50D8;
  --color-tempo: #BE3BCE;
  --color-race: #C0268B;
  --color-interval: #F37542;
  --color-hill: #ECAB47;
  
  --font-condensed: 'Roboto Condensed';
  --font-italic: 'Roboto Condensed Italic';
  --font-heading: 'Roboto Slab';

  --breakpoint-xlarge: 1451px;
  --breakpoint-desktop: 1450px;
  --breakpoint-tablet: 1024px;
  --breakpoint-mobile: 749px;
  --breakpoint-mobile-med: 600px;
  --breakpoint-mobile-small: 375px;
  --breakpoint-mobile-xsmall: 320px;
}
