/* Global variables
========================================================================== */

$white: #ffffff;
$background: #1F2932;
$primary: #C0268B;
$secondary: #6C50D8;

$confirm: #50C376;
$danger: #EE6461;
$default: #4F6970;
$easy: #67E4AA;
$recovery: #829FD6;
$long: #6C50D8;
$tempo: #BE3BCE;
$race: #C0268B;
$interval: #F37542;
$hill: #ECAB47;

$font-condensed: 'Roboto Condensed';
$font-italic: 'Roboto Condensed Italic';
$font-heading: 'Roboto Slab';