.show-more-modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more-wrapper {
  width: 50%;
  max-width: 500px;
  border-radius: 6px;
  background-color: gainsboro;
  padding: 2rem;
}

.close {
  appearance: none;
  background: darkslategray;
  border: none;
  border-radius: 6px;
  color: gainsboro;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 800;
  padding: .5rem 1rem;
}
.close:hover,
.close:focus {
  text-decoration: underline;
}
.close-wrap {
  text-align: right;
}