.EasyRun {
  background-color: var(--color-easy);
  color: var(--color-background);
}
.EasyRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-easy);
  color: var(--color-white);
}

.DefaultRun {
  background-color: var(--color-default);
}
.DefaultRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-default);
  color: var(--color-white);
}

.RecoveryRun {
  background-color: var(--color-recovery);
  color: var(--color-background);
}
.RecoveryRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-recovery);
  color: var(--color-white);
}

.HillsRun {
  background-color: var(--color-hill);
  color: var(--color-background);
}
.HillsRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-hill);
  color: var(--color-white);
}

.TempoRun {
  background-color: var(--color-tempo);
}
.TempoRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-tempo);
  color: var(--color-white);
}

.IntervalsRun {
  background-color: var(--color-interval);
  color: var(--color-background);
}
.IntervalsRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-interval);
  color: var(--color-white);
}

.LongRun {
  background-color: var(--color-long);
}
.LongRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-long);
  color: var(--color-white);
}

.RaceRun {
  background-color: var(--color-race);
}
.RaceRunPlanned {
  background-color: var(--color-background);
  border: 2px solid var(--color-race);
  color: var(--color-white);
}

.rbc-off-range-bg {
  background: #171F25;
}
.rbc-today {
  background-color: #465D71;
}
.rbc-header {
  padding: 0.5rem;
}
.rbc-toolbar {
  flex-direction: row-reverse;
}
.rbc-toolbar button {
  font-size: 1.2rem;
}
.rbc-btn-group button {
  color: var(--color-white);
}
.rbc-btn-group:last-of-type {
  display: none;
}
.rbc-event-content {
  padding: 0.5rem 0;
}
.rbc-toolbar-label {
  text-align: left !important;
  padding-left: 0 !important;
  font-size: 1.8rem;
}

@media (max-width: 749px) {
  .rbc-event-content {
    color: transparent;
  }
}