@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.addEditForm {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  padding: 4rem 0;
}
.headlineBlock {
  grid-column: 1 / -1;
  margin-bottom: 4rem;
  color: $white;
  padding-bottom: 1rem;
  border-bottom: 2px solid $primary;
  display: flex;
  align-items: flex-end;
}

.headlineBlock p {
  font-size: 1.8rem;
  margin-left: 6rem;
  flex-grow: 1;
}
.star {
  font-weight: 800;
  font-family: $font-heading;
  color: $primary;
}

.addEditForm .inputgroup {
  padding: 0;
  display: flex;
}
.addEditForm .legend {
  flex-basis: 100%;
  color: $white;
  font-family: $font-condensed;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.distanceBlock {
  grid-column: 1 / 2;
}
.runTypeBlock {
  grid-column: 4 / -1;
}
.durationBlock {
  grid-column: 2 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.durationBlock > div {
  flex-basis: 30%;
  flex-grow: 0;
  max-width: 6rem;
}
.durationBlock > div:not(last-of-type) {
  margin-right: 2rem;
}
.raceBlock {
  grid-column: 4 / -1;
  grid-row: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.raceBlock > div {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
}
.treadmillBlock {
  align-self: start;
  grid-column: 4 / -1;
  padding-top: 4rem;
}
.titleBlock {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.dateTimeBlock {
  grid-column: 1 / 4;
  padding-bottom: 4rem;
}
.notesBlock,
.buttonBlock {
  grid-column: 1 / -1;
}
.buttonBlock button:last-of-type {
  margin-left: 3rem;
}
.effortBlock {
  grid-column: 1 / 2;
}
.ratingBlock {
  grid-column: 2 / 3;
}
.weatherBlock {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
}
.weatherBlock > div:first-of-type {
  margin-right: 3rem;
}
.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
}
.weatherCheckbox {
  margin-top: 1.2rem;
}
.weatherCheckbox:not(:last-of-type) {
  margin-right: 3rem;
}

@include respond-to('tablet') {
  .headlineBlock {
    flex-direction: column;
    align-items: flex-start;
  }
  .headlineBlock p {
    margin-left: 0;
  }
  .durationBlock {
    grid-column: 2 / -1;
  }
  .runTypeBlock {
    grid-column: 1 / -1;
  }
  .raceBlock {
    grid-column: 1 / -1;
    grid-row: unset;
  }
  .titleBlock {
    grid-column: 1 / -1;
    grid-row: unset;
  }
  .dateTimeBlock {
    grid-column: 1 / -1;
  }
  .effortBlock {
    grid-column: 1 / 4;
  }
  .ratingBlock {
    grid-column: 4 / -1;
  }
  .treadmillBlock {
    grid-column: 1 / 4;
    padding-top: 0;
    padding-bottom: 4rem;
  }
}

@include respond-to('mobile') {
  .distanceBlock {
    grid-column: 1 / -1;
  }
  .durationBlock {
    grid-column: 1 / -1;
  }
  .durationBlock > div {
    max-width: 5rem;
  }
  .durationBlock > div:not(last-of-type) {
    margin-right: 1rem;
  }
  .weather {
    padding: 3rem 0 2rem;
  }
}