@import '../../styles/variables.scss';

.checkbox {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.checkLabel {
  color: $white;
  font-family: $font-condensed;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  padding: 0;
  padding-left: 3rem;
  display: block;
  position: relative;
  cursor: pointer;
}
.checkLabel:not(:last-of-type) {
  padding-right: 3rem;
}
.checkLabel::before {
  content: '';
  display: block;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  left: 0;
  bottom: 0.4rem;
  border-radius: 4px;
  background-color: $white;
}
.checkbox:checked + .checkLabel::after {
  content: 'x';
  display: block;
  position: absolute;
  z-index: 5;
  font-size: 1.6rem;
  font-weight: 800;
  left: 0.4rem;
  bottom: 0.4rem;
  color: $primary;
}