// Hide our default-appearance checkbox from view
.checkbox {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.checkLabel {
  color: var(--color-white);
  font-family: var(--font-condensed);
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  padding: 0;
  padding-left: 3.4rem;
  display: block;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}
.checkLabel:not(:last-of-type) {
  padding-right: 3rem;
}
// Replacement custom-styled checkbox
.checkLabel::before {
  content: '\2716';
  font-size: 20px;
  font-weight: 800;
  color: var(--color-background-dark);
  display: grid;
  place-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-white);
  transition: color 0.3s ease, border-color 0.3s ease;
}
// Focus and hover styles: box outline and label text change colour to primary highlight
.checkbox:focus + .checkLabel::before,
.checkbox:hover + .checkLabel::before {
  border-color: var(--color-primary);
}
.checkbox:focus + .checkLabel,
.checkbox:hover + .checkLabel {
  color: var(--color-primary);
}
// If the checkbox is selected, show the X in the box
.checkbox:checked + .checkLabel::before {
  color: var(--color-primary);
}
// This is the round highlight that appears on selection
.checkbox:checked + .checkLabel::after {
  content: '';
  display: block;
  position: absolute;
  background: var(--color-primary);
  z-index: 5;
  left: 0;
  top: 0;
  border-radius: 50%;
  animation: clickhighlight 0.65s;
}
// Animation frames for the round highlight
@keyframes clickhighlight { 
  0% {
    width: 40px;
    height: 40px;
    margin-left: -6px;
    margin-top: -10px;
    opacity: 0.35;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-left: -40px;
    margin-top: -50px;
    opacity: 0.0;
  }
}