.react-datetime-picker__wrapper {
  border: none;
}
.react-datetime-picker__button svg {
  stroke: #fff;
}
.react-datetime-picker__inputGroup {
  padding: 0;
  align-items: center;
}
.react-datetime-picker__inputGroup select {
  width: 5rem;
  height: unset;
  background-size: 20%;
  background-position: 90% center;
  margin: 0 3rem 0 0;
}
.react-datetime-picker__inputGroup input.react-datetime-picker__inputGroup__hour,
.react-datetime-picker__inputGroup input.react-datetime-picker__inputGroup__day,
.react-datetime-picker__inputGroup input.react-datetime-picker__inputGroup__month,
.react-datetime-picker__inputGroup input.react-datetime-picker__inputGroup__minute {
  margin-right: 1.4rem;
}
.react-datetime-picker__inputGroup input {
  height: unset;
  width: unset;
  min-width: 4rem;
}
.react-datetime-picker__inputGroup input.react-datetime-picker__inputGroup__year {
  width: 6rem !important;
}
.react-datetime-picker__inputGroup__divider {
  display: none;
}