@import '../../styles/variables.scss';

header {
  color: $white;
  padding: 2rem 0;
  margin-bottom: 4rem;
  width: 100%;
}

.logo {
  grid-column: 2 / 10;
}

.login {
  grid-column: -8 / -2;
  text-align: right;
  align-self: center;
}
