@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

header {
  background-color: $background;
  border-bottom: 3px solid $primary;
  color: $white;
  padding: 2rem 0;
  margin-bottom: 4rem;
  width: 100%;
}

.logo {
  grid-column: 2 / 10;
  @include respond-to('mobile') {
    grid-column: 2 / 6;
  }
}

.login {
  grid-column: -8 / -2;
  text-align: right;
  align-self: center;
  @include respond-to('tablet') {
    grid-column: -6 / -2;
  }
}
