@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.listSection {
  grid-column: 6 / -2;
  color: $white;
  padding: 4rem 0;
  @include respond-to('tablet') {
    grid-column: 4 / -2;
  }
  @include respond-to('mobile') {
    grid-column: 2 / -2;
  }
}

.titleBlock {
  color: $white;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titleBlock h2 {
  margin-right: 4rem;
}

.listHeader {
  display: grid;
  grid-template-columns: repeat(3, 25%) 1fr 1fr;
  grid-column-gap: 1fr;
  border-bottom: 2px solid $primary;
}