@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ratingContainer h4.heading {
  font-family: var(--font-condensed);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.rating {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-background-dark);
}
.ratingContainer .rating p,
.ratingContainer .rating svg {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.ratingContainer .rating p {
  font-family: var(--font-heading);
  font-size: 3.4rem;
  font-weight: 800;
  margin: 0;
}
.rating svg circle {
  stroke-width: 12;
  fill: none;
}

p.rating5 {
  color: var(--color-easy);
}
.rating5 circle {
  stroke: var(--color-easy);
}
p.effort5 {
  color: var(--color-danger);
}
.effort5 circle {
  stroke: var(--color-danger);
}

p.rating4 {
  color: var(--color-recovery);
}
.rating4 circle {
  stroke: var(--color-recovery);
}
p.effort4 {
  color: var(--color-interval);
}
.effort4 circle {
  stroke: var(--color-interval);
}
svg.rating4,
svg.effort4 {
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 30%);
}

p.rating3,
p.effort3 {
  color: var(--color-hill);
}
.rating3 circle,
.effort3 circle {
  stroke: var(--color-hill);
}
svg.rating3,
svg.effort3 {
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 80%);
}

p.rating2 {
  color: var(--color-interval);
}
.rating2 circle {
  stroke: var(--color-interval);
}
p.effort2 {
  color: var(--color-recovery);
}
.effort2 circle {
  stroke: var(--color-recovery);
}
svg.rating2,
svg.effort2 {
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 100% 80%);
}

p.rating1 {
  color: var(--color-danger);
}
.rating1 circle {
  stroke: var(--color-danger);
}
p.effort1 {
  color: var(--color-easy);
}
.effort1 circle {
  stroke: var(--color-easy);
}
svg.rating1,
svg.effort1 {
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 30%);
}