@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.runDetailSection {
  grid-column: 2 / -2;
  color: $white;
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.runDetailSection h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  color: $white;
  font-size: 3.2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $primary;
}
.runDetailSection h4 {
  margin-bottom: 5rem;
}
.runDetailSection p {
  font-size: 2.0rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
.closeContainer {
  text-align: right;
  grid-column: span 1 / -1;
  grid-row: 1 / 2;
  align-self: start;
}
.closeButton {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  color: $white;
  transition: color 0.3s ease;
}
.closeButton:hover,
.closeButton:focus {
  color: $primary;
}

.buttonContainer {
  margin-top: 6rem;
}
.buttonContainer button:first-of-type {
  margin-right: 2rem;
}

.weatherList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.weatherList li {
  margin-right: 3rem;
  font-family: $font-condensed;
  font-size: 2.0rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}