@import '../../styles/variables.scss';

.moreInfo {
  grid-column: 2 / -2;
}

.moreInfo h3, .moreInfo h5, .moreInfo p {
  color: $white;
}

.buttonContainer button:first-of-type {
  margin-right: 2rem;
}