@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin-inline-end: 2.4rem;
}
.iconWrapper svg {
  font-size: 4.2rem;
}

.container p {
  font-family: var(--font-heading);
  font-size: 3.4rem;
  font-weight: 800;
  margin: 0;
}

.runEasy {
  color: var(--color-easy);
}
.runRecovery {
  color: var(--color-recovery);
}
.runTempo {
  color: var(--color-tempo);
}
.runRace {
  color: var(--color-race);
}
.runHills {
  color: var(--color-hill);
}
.runIntervals {
  color: var(--color-interval);
}
.runDefault {
  color: var(--color-default);
}
.runLong {
  color: var(--color-long);
}