@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin-inline-end: 2.4rem;
}
.iconWrapper svg {
  font-size: 4.2rem;
}

.container p {
  font-family: $font-heading;
  font-size: 3.4rem;
  font-weight: 800;
  margin: 0;
}

.runEasy {
  color: $easy;
}
.runRecovery {
  color: $recovery;
}
.runTempo {
  color: $tempo;
}
.runRace {
  color: $race;
}
.runHills {
  color: $hill;
}
.runIntervals {
  color: $interval;
}
.runDefault {
  color: $default;
}
.runLong {
  color: $long;
}