@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.EasyRun {
  background-color: $easy;
  color: $background;
}

.DefaultRun {
  background-color: $default;
} 

.RecoveryRun {
  background-color: $recovery;
  color: $background;
} 

.HillsRun {
  background-color: $hill;
  color: $background;
}

.TempoRun {
  background-color: $tempo;
}

.IntervalsRun {
  background-color: $interval;
  color: $background;
}
.LongRun {
  background-color: $long;
}

.RaceRun {
  background-color: $race;
}

.rbc-off-range-bg {
  background: #171F25;
}
.rbc-today {
  background-color: #465D71;
}
.rbc-header {
  padding: 0.5rem;
}
.rbc-toolbar {
  flex-direction: row-reverse;
}
.rbc-toolbar button {
  font-size: 1.2rem;
}
.rbc-btn-group button {
  color: $white;
}
.rbc-btn-group:last-of-type {
  display: none;
}
.rbc-event-content {
  padding: 0.5rem 0;
  @include respond-to('mobile') {
    color: transparent;
  }
}
.rbc-toolbar-label {
  text-align: left !important;
  padding-left: 0 !important;
  font-size: 1.8rem;
}