@import '../../styles/variables.scss';

.EasyRun {
  background-color: $easy;
}

.DefaultRun {
  background-color: $default;
} 

.RecoveryRun {
  background-color: $recovery;
} 

.HillsRun {
  background-color: $hill;
}

.TempoRun {
  background-color: $tempo;
}

.IntervalsRun {
  background-color: $interval;
}
.LongRun {
  background-color: $long;
}

.RaceRun {
  background-color: $race;
}

.rbc-header {
  padding: 0.5rem;
}
.rbc-toolbar {
  flex-direction: row-reverse;
}
.rbc-toolbar button {
  font-size: 0.9rem;
}
.rbc-btn-group:last-of-type {
  display: none;
}
.rbc-event-content {
  padding: 0.5rem 0;
}