@import '../../styles/variables.scss';

.dashboard {
  grid-column: 2 / -2;
  color: white;
}

.dashboard h2 {
  color: $white;
  margin-bottom: 4rem;
}

.calendarContainer {
  color: $white;
  font-family: $font-condensed;
}