@import '../../styles/variables.scss';

.dashboard {
  grid-column: 6 / -2;
}

.titleBlock {
  color: $white;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titleBlock h2 {
  margin-right: 4rem;
}

.calendarContainer {
  color: $white;
  font-family: $font-condensed;
}