@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.dashboard {
  grid-column: 2 / -2;
  padding: 4rem 0;
}

.titleBlock {
  color: $white;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titleBlock h2 {
  margin-right: 4rem;
}

.calendarContainer {
  color: $white;
  font-family: $font-condensed;
  height: 660px;
  @include respond-to('mobile') {
    height: 360px;
  }
}