@import '../../styles/variables.scss';

.addForm {
  grid-column: 2 / -2;
}

.addForm h4 {
  color: $white;
}

.cancel, .submit {
  appearance: none;
  cursor: pointer;
  font-family: $font-heading;
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  margin: 2rem 1rem;
}
.cancel:hover,
.cancel:focus,
.submit:hover,
.submit:focus {
  text-decoration: underline;
}
.submit {
  color: $white;
  background-color: $easy;
  border: 1px solid $easy;
}
.cancel {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
}

textarea {
  appearance: none;
  display: block;
  border: none;
  border-radius: 4px;
  color: $background;
  width: 100%;
  padding: 0.5rem;
  margin: 2rem auto 0;
  min-height: 12rem;
}

select {
  appearance: none;
  display: block;
  border: 1px solid $background;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 2rem auto 0;
  width: 100%;
  color: $background;
  font-size: 0.9rem;
  background-color: white;
}
.react-datetime-picker {
  background-color: white;
  border-radius: 4px;
  padding: .5rem;
  margin: 2rem 0 0;
  width: 100%;
}
.react-datetime-picker input,
.react-datetime-picker select {
  margin-top: 0;
  width: auto;
}

time {
  display: block;
}
time:not(:first-of-type) {
  margin-top: 1rem;
}