@import '../../styles/variables.scss';

.loginForm {
  grid-column: 2 / -2;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 0;
}
.inputBlock {
  margin-bottom: 3rem;
}

.headlineBlock {
  color: $white;
  margin-bottom: 4rem;
}
.headlineBlock p {
  font-size: 1.8rem;
}

.error {
  color: $danger;
  letter-spacing: 0.05rem;
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.signup {
  color: $white;
  font-size: 1.8rem;
  margin-top: 5rem;
}
