@import '../../styles/variables.scss';

.loginForm {
  grid-column: 2 / -2;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0;
}

.loginForm input {
  display: block;
  appearance: none;
  margin: 1rem auto 2rem;
  font-size: 1.0rem;
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: 6px;
  width: 100%;
}
.loginForm input:last-of-type {
  margin-bottom: 3rem;
}

label {
  display: block;
  margin: 0.5rem 0 0;
  color: $white;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 0.5rem;
}

.loginForm h4 {
  color: $white;
}

.signup {
  color: $white;
  margin-top: 3rem;
}
.error {
  color: $danger;
  margin-top: 1rem;
}