@import '../../styles/variables.scss';

.loginForm {
  grid-column: 2 / -2;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0;
}

.loginForm h4 {
  color: $white;
  margin-bottom: 3rem;
}

.error {
  color: $danger;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}

.signup {
  color: $white;
  margin-top: 3rem;
}
