@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sideNav {
  grid-column: 2 / -2;
  padding: 3rem 0;
}
.sideNav ul {
  display: flex;
  justify-content: center;
}
.sideNav li:not(:last-of-type) {
  margin-right: 8rem;
}
.sideNav a {
  color: $white;
  font-family: $font-condensed;
  font-size: 2.1rem;
  text-decoration: none;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
.sideNav a:hover,
.sideNav a:focus {
  border-bottom: 2px solid $primary;
}
.sideNav a.active {
  border-bottom: 2px solid $primary;
}
.sideNav a svg {
  margin-right: 2rem;
}

@include respond-to('mobile') {
  .sideNav li:not(:last-of-type) {
    margin-right: 4rem;
  }
  .sideNav a svg {
    margin-right: 0;
  }
  .navText {
    display: none;
  }
}